.pagination {
    display: flex;
    flex-direction: row;
}

.pagination > div {
    padding: 8px 14px;
    cursor: pointer;
    transition: background-color 300ms;
}

.pagination div.active {
    background-color: dodgerblue;
    color: white;
}

.pagination div:hover:not(.active) {
    background-color: #ddd;
}